/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

.mainBox {
  display: flex;
  flex-flow: row nowrap;
  background-color: #888888;
  color: black; }

#container.events div.c3 svg g g.c3-chart text.c3-chart-arcs-title {
  fill: white; }

.c3-legend-item {
  fill: white; }

.events {
  background-color: #AAAAAA;
  flex: 1 0 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.header {
  display: flex;
  flex-flow: row no wrap;
  background-color: #32742C;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 60px;
  font-family: 'Lalezar', cursive;
  font-size: 25px;
  color: white; }

.c3 {
  flex: 0 0 25%;
  height: 300px;
  box-sizing: border-box;
  align-self: flex-start; }
